$main-color: #4df54d;

$main-font-family: 'Montserrat Alternates', sans-serif;

$font-color: #202020;
$light-font-color: #fff;

$background-color: #fff;

$sm-mobile: 400px;
$md-mobile: 520px;
$lg-mobile: 780px;
$sm-pc: 1024px;
$md-pc: 1366px;
$lg-pc: 1500px;

:root {
    --header-height: 60px;
}